extends layout 

block content 
  h1=title

  form(method="POST" action="") 
    label(for='categoryname') Category Name:
    input#categoryname.form-control(type='text' placeholder='Category name' name='categoryname' required='true' value=(undefined===category ? '' : category.name) )
    label(for='categorydescription') Category Description:
    textarea#categorydescription.form-control(type='textarea' placeholder='Category description' name='categorydescription' required='true' value=(undefined===category ? '' : category.description))
    button.btn.btn-primary(type='submit') Submit
  if errors
    ul
      for error in errors
        li!=error.msg
  