doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block sidebar 
      ul.sidebar  
        li
          a(href="/") Home 
        li 
          a(href="/items") Items 
        li
          a(href="/category") Categories 
    div 
      block content
