body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  margin: 0px;
  flex-direction: row;
  align-items: flex-start;
}
.content {
  height: 100vh;
  overflow-y: scroll;
  margin: 0px;
  width: 80vw;
}
a {
  color: #00b7ff;
}
.item {
  margin: 0.25rem;
  border-radius: 0.25rem;
  border: solid black 2px;
  padding: 0.5rem;
  max-width: 1200px;
  min-width: 800px;
}
.sidebar {
  min-width: 200px;
  margin: 0;
  list-style: none;
  background-color: midnightblue;
  height: 100vh;
}
.sidebar > li {
  margin: 1rem;
  color: aliceblue;
  font-size: larger;
}
